// Weather
$bgColor: linear-gradient(180deg, #30a2c5 0%, rgba(255, 255, 255, 0) 100%),
  #00242f;
$weatherBorderRadius: 40px;
$weatherWidth: 414px;
$titleFontColor: #ffffff;

// Temperature
$temperatureBgColor: #ffffff;
$filterShadow: drop-shadow(0px 28px 36px rgba(96, 209, 234, 0.4));

// Forecast
$forecastBgColor: linear-gradient(
    233.68deg,
    #e3e3e3 -3.39%,
    rgba(255, 255, 255, 0) 88.51%
  ),
  #ffffff;
$forecastWidth: 100%;
$forecastBorderRadius: 60px 60px 0px 0px;
$forecastPadding: 43px 20px 32px;

// Button-default
$buttonBgColor: #5292a4;
$buttonFontColor: #ffffff;
$buttonShadow: drop-shadow(0px 0px 10px rgba(96, 209, 234, 0.4));

// Days
$daysWidth: 70px;
$daysHeight: 93px;
$cardWidth: 70px;
$cardHeight: 75px;
$cardPadding: 13px 20px 15px;
$cardBorder: 1px solid #d5d5d5;
